ul {
    list-style-type: none; /* elimina los puntos que se generan en una lista desordenada. */
    margin: 0; /* elimina el margen predeterminado alrededor de la lista. */
    padding: 0; /* elimina el relleno interno de la lista. */
    overflow: hidden; /* oculta cualquier contenido desbordante. */
    background-color: rgb(115, 119, 119); /* define el color de fondo de la lista. */
}


li {
    float: left; /* hace que los elementos se alineen horizontalmente. */
    border: 1px solid rgb(26, 86, 94); /* establece un borde alrededor de cada elemento de la lista. */
}

li:last-child {
    border-right: none; /* eelimina el borde derecho en el último elemento. */
    border-left: 1px solid rgb(26, 86, 94); /* añade un borde izquierdo al último elemento. */
}

li a {
    display: block; /* hace que el enlace ocupe todo el ancho disponible en su contenedor (el elemento li). */
    color: azure; /*define centra el texto del enlace. */
    padding: 10px 30px; /* añade un relleno (padding) dentro del enlace para hacerlo más grande y con espacio alrededor del texto. */
    text-decoration: none; /* elimina el subrayado predeterminado de los enlaces. */
}

.active {
    background-color: rgb(73, 46, 46); /* establece un color de fondo para el enlace activo. */
}


li a:hover:not(.active) {
    background-color: rgb(90, 90, 117); /* cambia el color de fondo cuando el puntero pasa por encima de un enlace (excepto el activo). */
}
